h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;

}
div#home{
    background: url(black\ background.jpg) no-repeat center center;
    background-image: url(black\ background.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    color: #fff;
    
    box-sizing: border-box;
}

h1.heading{
    text-align: center;
    font-family: 'Oswald', sans-serif;

}
img#myimage{
    border: 2px solid white;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
    
 
}span.blinking{

}

p#developer{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 2;
    
    
}
div.icon{
    width: 15%;
    height: 15%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    
    
}
p.paragraph{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(36, 33, 33);
    text-align: justify;
}
span#love{
    color: red;
}
 div.container-fluid#about{
     width: 95%;
     height: 20%;
     border: 3px solid gray;
     box-shadow: 4px 4px 5px #888888;
 }
 div.container-fluid#project{
    width: 95%;
    height: 20%;
    border: 3px solid gray;
    box-shadow: 4px 4px 5px #888888;
    margin: 30px;
}
div.card#card{
    width: 300px;
    height: 400px;
    border: 1px solid gray;
    box-shadow: 4px 4px 5px #51a7f8;
    margin: 30px;

}
section#contact{
    text-align: center;
    background-position: center;
    background-image: url('laptop\ background.jpg') ;
    background-size: cover;
    height: 100%;
    margin-bottom:50px ;
}
footer{
    background-color: grey;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
.title{
    color: rgb(13, 105, 241);
    text-align: left;
    font: 2 rem sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
}
